
<div id="center">
<h1>Listing posts</h1>

<table>

  <tr>

  </tr>
 
  <% @posts.each do |post| %>
    
    <tr> 
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">
      <%= post.title %></h3></div>
      <div class="panel-body">
      <%= post.text %></div>
      
      
    </tr></tr></div>
  <% end %>  
  
</table>
</div>
