<div id="center">
	<p>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><strong><%= @post.title %></strong></h3>
			</div>
	</p>

	<p>
		<div class="panel-body">
			<strong>
			<%= @post.text %>
			</strong>
		</div>
	</p>
</div>
